html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

hr {
  background-color: #dfe1e6;
}

label {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #6d34fd;
  padding-inline: 10px;
}

.a {
  text-decoration: none;
}

.logo {
  font-size: 25px;
  font-weight: 900;
}

.menu {
  width: 30px;
}

.menu svg {
  transition: display 0.5s;
}

.menu-list {
  display: none;
  transition: display 0.5s;
}

.greet {
  background-image: url('../assets/header-shapes mobile.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 90vh;
  padding: 20px;
  background-color: #fff;
  transition: background-image 0.5s;
}

.title {
  position: absolute;
  top: 100px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title h1 {
  font-size: 40px;
  margin: 0;
}

.me {
  position: relative;
  top: 210px;
  font-size: 16px;
  color: #344563;
}

.contact {
  position: relative;
  top: 190px;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: flex-start;
}

.contact h3 {
  color: #6d34fd;
  font-weight: 400;
  margin: 15px 0;
}

.social {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.works {
  padding-inline: 24px;
}

.works-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 114px;
  margin: 114px 0;
  justify-content: center;
}

.card {
  min-width: calc(327px - 16px);
  min-height: calc(552px - 16px);
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.info {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin: 0;
  color: #172b4d;
}

.canopy {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  color: #7a869a;
  align-items: center;
}

.canopy p {
  color: #344563;
}

.canopy ul {
  display: flex;
  gap: 25px;
}

.extract {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.extract p {
  margin: 0;
}

.technologies {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  list-style: none;
  color: #6070ff;
}

.technologies li {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.see {
  border: 1px solid #6070ff;
  color: #6070ff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
}

.about {
  background-color: #fff;
  padding-inline: 24px;
  border-top-right-radius: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
}

.width {
  width: 100%;
}

.position {
  position: relative;
  top: 150px;
}

.skills {
  width: 100%;
  margin-top: 170px;
  margin-bottom: 300px;
  padding: 0;
  list-style: none;
}

.skill {
  width: 100%;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.name svg {
  width: 20px;
}

.languages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.languages-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  line-height: 20px;
  background-color: #f7f7f9;
  padding: 10px 20px;
  border-radius: 8px;
}

.form-section {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  color: #fff;
  text-align: center;
  padding: 24px;
  background-image: url('../assets/contact\ form\ shapes-mobile@2x.png');
  background-size: 63%;
  background-repeat: no-repeat;
  background-position-x: right;
}

.form-section h1 {
  margin-top: 70px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.form-section p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.form {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.form input {
  width: calc(100% - 20px);
  height: 48px;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  padding-inline: 10px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  outline: none;
}

.form textarea {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  width: calc(100% - 20px);
  height: 170px;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  resize: none;
  outline: none;
}

.see:hover {
  color: #fff;
  background-color: #6071ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border: 1px solid #fff;
}

.see:active {
  color: #fff;
  background-color: #2230d2;
  border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  .header {
    padding-inline: 100px;
    justify-content: space-between;
  }

  .greet {
    background-image: url('../assets/Header\ bg@2x.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom-left-radius: 100px;
    padding: 260px;
    min-height: auto;
    max-height: 916px;
  }

  .title {
    position: static;
    width: 60%;
  }

  .me {
    position: static;
  }

  .contact {
    position: static;
  }

  .social {
    width: 100%;
  }

  .works-container {
    padding-inline: 142px;
  }

  .card {
    min-height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .full-width {
    width: 100%;
  }

  .half-width {
    width: 50%;
  }

  .quarter-width {
    width: 32%;
  }

  .align-center {
    margin: 0 auto;
  }

  .image-container {
    width: 50%;
    height: 100%;
  }

  .image-container img {
    width: 100%;
    height: 100%;
  }

  .info {
    width: 50%;
  }

  .about {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-inline: 143px;
  }

  .contact-info {
    height: 100%;
    width: 45%;
  }

  .skills {
    height: 100%;
    width: 55%;
    margin-bottom: 200px;
  }

  .languages-list {
    flex-direction: row;
  }

  .languages-list li {
    flex-direction: column;
  }

  .form-section {
    background-image: url('../assets/contact\ form\ background\ shapes@2x.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding-inline: 350px;
  }

  .menu {
    width: 30%;
  }

  .menu svg {
    display: none;
  }

  .menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  .menu-list > li > a {
    text-decoration: none;
    color: #344563;
  }
}
